body{
  background-color: #EAC7C7;
}

h1{
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
}

.input{
  margin-top: 100px;
  background-color: #F7F5EB;
  border: 0;
  width: 40%;
  height: 10%;
  font-size: 300%;
  font-style: normal;
}

.center{
  position: relative;
  left: 25%;
}

.btn{
  height: 60px;
  width: 100px;
  background-color: #EAC7C7;
  border: 0;
}

.btn i{
  size: 200px;
  margin-left: 20px;
}

ul{
  font-size: 30px;
}

li{
  display: inline-block;
}

.row{
  flex-direction: row;
  justify-content: space-between;
}

.checkbox{
  position:absolute;
  left: 500px;
}

.trash{
  position: absolute;
  left : 550px;
}